<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button type="button" class="navbar-toggler navbar-toggler-right" data-toggler="collapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">AuthApp</a>
  <div data-class="collapse navbar-collapse" id="navbarText">
    <ul class="nav navbar mr-auto">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['precios']">Precios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['protegida']">Protegida</a>
      </li>
    </ul>

    <span class="navbar-text"></span>
  </div>
</nav>
